<!Doctype html>
<html>
    <head>
           <title> Bookie Mate</title>
           <meta charset="utf-8">
           <meta name="viewport" content="width=device-width, initial-scale=1">
           <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
           <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
           <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
           <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
           <link rel="preconnect" href="https://fonts.gstatic.com">
           <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
    </head>


    <style>
    
    body 
    {  
       
       font-style: normal;
       font-family: 'RocknRoll One', sans-serif;
    }
    
    .navbar-brand{

     padding-left: 30%;


  }
    .container1{
           
           padding-top: 5%;
           padding-bottom: 2%;
           
    }


    
    



    
    
    </style>
    <body>
        <!-- 
        <h2><center>ALPHABETICAL ORDER</center></h2>
        </div> -->
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #f1b9cc ;" >
           <span class="navbar-brand "><h2>ALPHABETICAL ORDER</h2></span>
        </nav>
        <div class="container1">
        <h3>LIST OF BOOKS</h3>
        </div>
        <div class="containermini" class="lh-base">
        <ol>
            
            <li><a href="#Book1">Aharam: Traditional Cuisine of Tamil Nadu</a></li>
            <li><a href="#Book2">Arthashastra</a></li>
            <li><a href="#Book3">Capital in the Twenty-First Century</a></li>
            <li><a href="#Book4">Chanakya Neethi</a></li>
            <li><a href="#Book5">Data Science for Business: What You Need to Know about Data Mining and Data-Analytic Thinking</a></li>
            <li><a href="#Book6">Gunahon ka Devtha</a></li>
            <li><a href="#Book7">Harry Potter and the Chamber of Secrets</a></li>
            <li><a href="#Book8">Harry Potter and the Philospher's Stone</a></li>
            <li><a href="#Book9">Harry Potter and the Prisoner of Azkaban</a></li>
            <li><a href="#Book10">How to Crack Test of Reasoning: Revised Edition</a></li>
            <li><a href="#Book11">Indian Art and Culture for Civil Service and Other Competetive Examinations</a></li>
            <li><a href="#Book12">Indroduction to Machine Learning with Python: A Guide for Data Scientists</a></li>
            <li><a href="#Book13">Japanese Cookbook for Beginners: Classic and Modern Recipes Made Easy</a></li>
            <li><a href="#Book14">Jharkhand General Knowledge</a></li>
            <li><a href="#Book15">Learning Japanese Kanji Practice Book Volume 1: The Quick and Easy Way To Learn Basic Japanse Kanji</a></li>
            <li><a href="#Book16">Le Petit Prince</a></li>
            <li><a href="#Book17">Mastering the Art of French Cooking</a></li>
            <li><a href="#Book18">Middlemarch</a></li>
            <li><a href="#Book19">Objective General English</a></li>
            <li><a href="#Book20">Ponniyin Selvan</a></li>
            <li><a href="#Book21">Quantitative Aptitude for Competitive Examinations</a></li>
            <li><a href="#Book22">Silappadhikaram</a></li>
            <li><a href="#Book23">Sivagamiyin Sabadham</a></li>
            <li><a href="#Book24">Southern Flavours</a></li>
            <li><a href="#Book25">The Moonstone</a></li>
            <li><a href="#Book26">The Way We Live Now</a></li>
            <li><a href="#Book27">The Sign of Four</a></li>
            <li><a href="#Book28">The Golden Bowl</a></li>
            <li><a href="#Book29">The Model Bakery Cookbook: 75 Favourite Recipes from the Beloved Napa Valley Bakery</a></li>
            <li><a href="#Book30">Vandhargal Vendrargal</a></li>
            <li><a href="#Book31">Wings of Fire</a></li>
        </ol>
        </div>
        <br>
        <ol>
        <li>
            <p><a name="Book1">
            <h3>Aharam: Traditional Cuisine of Tamil Nadu</h3>
            <b>Author</b>: Sabita Radhakrishna<br>
            <b>Summary</b>: Tamilian cookery has its own distinctive traditions, but to most people outside this community, only the 
            stereotypes are distinguishable the ubiquitious dosai, idlis, sambars and chutneys without which southern cuisine would be 
            incomplete. Few are aware of the rich repertoire of traditional non Brahmin Tamil cookery, both the vegetarian and the non 
            vegetarian dishes. Sabita Radhakrishna was inspired to write Aharam as she was distressed to note that recipes were 
            languishing and elders no longer alive to pass on their knowledge. She began recording her 	mother's traditional recipes, 
            testing and trying them out for a year or more, compiling this book which is a Bible for those women and men who consider 
            ancient recipes sacred. Aharam has been contemporarised to suit the modern 	kitchen and has documented over 170 recipes which 
            include breakfast dishes, vegetarian dishes, mutton, chicken, fish 	and egg dishes and sweets. Aharam-Traditional Cuisine of Tamil 
            Nadu won the coveted GOURMAND award for the category ‘ 	Best Local Cookery Book in India' for the year 2002.<br>
            <b>Genre</b>: Cookbook<br>
            <b> Year</b>: 30 November 2002<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 169 INR (Amazon)<br>
            <b>Rating</b>: 8.7/10<br>
            <b>Publisher</b>: S.Chand (G/L) and Company Ltd<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book2">
            <h3>Arthashastra</h3>
            <b>Author</b>: Chanakya<br>
            <b>Summary</b>: The Arthaśāstra is an ancient Indian Sanskrit treatise on statecraft, economic policy and military strategy. 
            Kautilya, also identified as Vishnugupta and Chanakya, is traditionally credited as the author of the text. The latter was a 
            scholar at Takshashila, the teacher and guardian of Emperor Chandragupta Maurya. <br>
            <b>Genre</b>: Statecraft,Treatise, History, Economic policy and Military strategy<br>
            <b>Year</b>: 3rd century BCE<br>
            <b>Language</b>: English<br>
            Originally written in Sanskrit<br>
            <b>Price</b>: 455 INR (Amazon)<br>
            <b>Rating</b>: 9.8/10<br>
            <b>Publisher</b>: Penguin India<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book3">
            <h3>Capital in the Twenty-First Century</h3>
            <b>Author</b>: Thomas Piketty<br>
            <b>Summary</b>: The book's central thesis is that when the rate of return on capital is greater than the rate of economic 
            growth over the long term, the result is concentration of wealth, and this unequal distribution of wealth causes social and 
            economic instability. Piketty proposes a global system of progressive wealth taxes to help reduce inequality and avoid the 
            vast majority of wealth coming under the control of a tiny minority.<br>
            <b>Genre</b>: Economics<br>
            <b>Year</b>: 30 August 2013<br>
            <b>Language</b>: English<br>
            Also available in French<br>
            <b>Price</b>: 1056 INR (Amazon)<br>
            <b>Rating</b>: 9/10<br>
            <b>Publisher</b>: Harvard Univeersity Press<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book4">
            <h3>Chanakya Neethi</h3>
            <b>Author</b>: Vishnugupta<br>
            <b>Summary</b>:Chanakya Neeti is a book based on Chanakya, an Indian theorist, teacher, philosopher, economist and a noble 
            mentor to the Mauryan emperors between 350 -275 BC.  In this book, the author tells about Arthashastra, the ancient thesis 
            about Indian Polity.<br>
            <b>Genre</b>: Treatise, Economics, Self-help book<br>
            <b>Year</b>:2014<br>
            <b>Language</b>: Tamil<br>
            <b>Price</b>:125 INR- Flipkart<br>
            <b>Rating</b>: 9/10<br>
            <b>Publisher</b>: Diamond books<br><br>
            </a>
            </p>
        </li> 
        <li>
            <p><a name="Book5">
            <h3>Data Science for Business: What You Need to Know about Data Mining and Data-Analytic Thinking</h3>
            <b>Author</b>: Tom Fawcett<br>
            <b>Summary</b>: Written by renowned data science experts Foster Provost and Tom Fawcett, Data Science for Business introduces 
            the fundamental principles of data science, and walks you through the "data-analytic thinking" necessary for extracting useful
            knowledge and business value from the data you collect. This guide also helps you understand the many data-mining techniques in
            use today.<br>
            <b>Genre</b>: Computers, Data Science, Education<br>
            <b>Year</b>: 27 July 2013<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 1224.99 INR (Amazon)<br>
            Audio Book is also available<br>
            <b>Rating</b>: 9.3/10<br>
            <b>Publisher</b>: O'Reilly Media<br><br>
            </a>
            </p>
        </li>
        <li>        
            <p><a name="Book6">
            <h3>Gunahon ka Devtha</h3>
            <b>Author</b>:: Dharamvir Bharathi<br>            
            <b>Summary</b>:The story is set in Allahabd during the britisg rule in Indua. The story has four main characters: Chandar, 
            Sudha, Vinti and Pammi. Over time, the novel gained historical importance and a cult following of readers.
            <b>Genre</b>:Novel, Romance novel, Domestic Fiction<br>
            <b>Year</b>:1949<br>
            <b>Language</b>:Hindi<br>
            <b>Price</b>:450 INR (Flipkart)<br>
            <b>Rating</b>:7.9/10<br>
            <b>Publisher</b>:Notion Press<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book7">
            <h3>Harry Potter and the Chamber of Secrets</h3>
            <b>Author</b>: J.K.Rowling<br>
            <b>Summary</b>: Harry's second year at Hogwarts School of Witchcraft and Wizardry, during which a series of messages on the 
            walls of the school's corridors warn that the "Chamber of Secrets" has been opened and that the "heir of Slytherin" 
            would kill all pupils who do not come from all-magical families. These threats are found after attacks that leave residents 
            of the school petrified. Throughout the year, Harry and his friends Ron and Hermione investigate the attacks.<br>
            <b>Genre</b>: Fantasy fiction, Children's Literature<br>
            <b>Year</b>: 2 July 1998<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 299 INR (Amazon)<br>
            Also available as a film<br>
            <b>Rating</b>: 9.4/10<br>
            <b>Publisher</b>: Bloomsbury Publishing(UK)<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book8">
            <h3>Harry Potter and the Philosopher's stone</h3>
            <b>Author</b>: J.K Rowling<br>
            <b>Summary</b>: Harry Potter, a boy who learns on his eleventh birthday that he is the orphaned son of two powerful wizards and
            possesses unique magical powers of his own. He is summoned from his life as an unwanted child to become a student at Hogwarts, 
            an English boarding school for wizards. There, he meets several friends who become his closest allies and help him discover the truth 
            about his parents' mysterious deaths.<br>
            <b>Genre</b>: Fantasy fiction, Children's literature<br>
            <b>Rating</b>: 9.5/10<br>
            <b>Year</b>: 26 June,1997 (UK) and 1 September 1998 (US)<br>
            <b>Language</b>: English<br>
            Available as film <br>
            <b>Price</b>: 278 INR (Amazon)<br>
            <b>Publisher</b>: Bloomsbury Publishing(UK)<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book9">
            <h3>Harry Potter and the Prisoner of Azkaban</h3>
            <b>Author</b>: J.K.Rowling<br>
            <b>Summary</b>: The book follows Harry Potter, a young wizard, in his third year at Hogwarts School of Witchcraft and Wizardry.
            Along with friends Ronald Weasley and Hermione Granger, Harry investigates Sirius Black, an escaped prisoner from Azkaban, the 
            wizard prison, believed to be one of Lord Voldemort's old allies.<br>
            <b>Genre</b>: Fantasy fiction, Children's Literature<br>
            <b>Year</b>: 8 July 1999<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 249 INR (Flipkart)<br>
            Also available as a film<br>
            <b>Rating</b>: 9.6/10<br>
            <b>Publisher</b>: Bloomsbury Publishing(UK)<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book10">
            <h3>How to Crack Test Of Reasoning- REVISED EDITION</h3>
            <b>Author</b>: Jaikishan and Premkishan<br>
            <b>Summary</b>: Reasoning enhances the logical thinking skills. It determines one's aptitude which is why many competitive 
            examinations ask questions from it. Be it, banking, SSC, railway, IAS/PCS, or any other government recruitment exams, 
            candidates have to score better in Reasoning Test which is a hard nut to crack for many. How to Crack Test of Reasoning is a 
            perfect study resource to learn the problem solving skills of reasoning to make a proper preparation for the competitive 
            examinations. It has been revised carefully according to the latest examination pattern and is divided into key chapters of 
            Verbal Reasoning, Analytical Reasoning, and Non-Verbal Reasoning. <br>
            <b>Genre</b>: Competetive exams, Aptitude<br>
            <b>Year</b>: 1 January 2018<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 160 INR (Amazon)<br>
            <b>Rating</b>: 9.3/10<br>
            <b>Publication</b>: Arihant Publications<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book11">
            <h3>Indian Art and Culture for Civil Services and other Competitive Examinations</h3>
            <b>Author</b>: Nitin Singhania <br>
            <b>Summary</b>: McGraw-Hill is proud to present third edition of their bestseller "Indian art and Culture" by Nitin Singhania, 
            third edition. This book offers comprehensive and latest information covering the broad field of knowledge on Indian art, 
            paintings, music and architecture for the aspirants of Civil Services Preliminary and Main Examinations.<br>
            <b>Genre</b>: Competetive exams<br>
            <b>Year</b>: 1 August 2019<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 535 INR (Amazon)<br>
            <b>Rating</b>: 9.6/10<br>
            <b>Publication</b>: McGraw-Hill<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book12">
            <h3>Introduction to Machine Learning with Python: A Guide for Data Scientists</h3>
            <b>Author</b>: Andreas C. Müller and Sarah Guido<br>
            <b>Summary</b>: Machine learning has become an integral part of many commercial applications and research projects, but this
             field is not exclusive to large companies with extensive research teams. If you use Python, even as a beginner, this book will
             teach you practical ways to build your own machine learning solutions. With all the data available today, machine learning 
             applications are limited only by your imagination. You'll learn the steps necessary to create a successful machine-learning 
             applications.<br>
            <b>Genre</b>: Computers, Machine Learning, Education<br>
            <b>Year</b>: 26 September 2016<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 1750 INR (Amazon) <br>
            <b>Rating</b>: 9.5/10</br>
            <b>Publisher</b>: O'Reilly Media<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book13">
            <h3>Japanese Cookbook for Beginners: Classic and Modern Recipes Made Easy</h3>
            <b>Author</b>: Azusa Oda<br>
            <b>Summary</b>: From everyday staples like miso soup to takeout favorites like sushi, ramen, and beyond, Japanese food has 
            long been enjoyed the world over. Now, with the Japanese Cookbook for Beginners, the incredible tastes and unique techniques
            of Japanese cooking can be mastered in your own kitchen with ease. You'll find an introductory guide to Japanese culinary basics,
            plus dozens of quick, weeknight-friendly meals packed full of flavor.<br>
            <b>Genre</b>: Cookbook<br>
            <b>Year</b>: March 17, 2020<br>
            <b>Language</b>: English <br>
            <b>Price</b>: 1050 INR (Amazon)<br>
            <b>Rating</b>: 9.6/10<br>
            <b>Publisher</b>: Rockridge Press<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book14">
            <h3>Jharkhand General Knowledge</h3>
            <b>Author</b>: Dr. C. L. Khanna<br>
            <b>Summary</b>: Jharkhand is known for its rich mineral Resources, mining industries and large forest areas. The book 
            'Jharkhand General Knowledge' has been developed to provide the complete knowledge about Jharkhand covering the topics related 
            to history of Jharkhand, culture and religions, geographical status, economic status, rivers, dams, mineral Resources, 
            occupations and industries, Agriculture, forests and different tribal groups. These topics are provided in 	the form of short 
            questions and answers. In this way the book will prove to be a boon for various competitive exams of Jharkhand state.<br>
            <b>Genre</b>: Competitive exams, General Knowledge<br>
            <b>Year</b>: 1 January 2010<br>
            <b>Language</b>: English <br>
            <b>Price</b>: 80 INR (Amazon) <br>
            <b>Rating</b>: 9/10<br>
            <b>Publication</b>: Upkar Prakashan Publication<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book15">
            <h3>Le Petit Prince</h3>
            <b>Author</b>:Antoine de Saint-Exupéry<br>
            <b>Summary</b>:The story begins with the narrator remembering something he drew as a child. As per the narrator, the drawing 
            consisted of an elephant inside the stomach of a snake. However, none of the adults around him understood it and claimed that it was 
            simply a hat. They felt that since the narrator could not draw well, he should try his hand at another hobby. Then, the story comes to
            the present day.<br>
            <b>Genre</b>:Children's literature, Fable, Novella, Speculative fiction<br>
            <b>Year</b>: 1943<br>
            <b>Language</b>: French <br>
            <b>Price</b>: 72 INR- Flipkart <br>
            <b>Rating</b>:8.7/10<br>
            <b>Publisher</b>:Reynal and Hitchcock<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book16">
            <h3>Learning Japanese Kanji Practice Book Volume 1: The Quick and Easy Way to Learn the Basic Japanese Kanji</h3>
            <b>Author</b>: Eriko Sato<br>
            <b>Summary</b>: Learning Japanese Kanji Practice Book is intended for beginning students or experienced speakers who need to 
            practice their written Japanese. Kanji are an essential part of the Japanese language and together with kana (hiragana and 
            katakana) comprise written Japanese.<br>
            <b>Genre</b>: Education, Study guide<br>
            <b>Year</b>: 27 October 2015<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 904 INR (Amazon)<br>
            <b>Rating</b>: 8.7/10<br>
            <b>Publisher</b>: Tuttle Publishing<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book17">
            <h3>Mastering the Art of French Cooking</h3>
            <b>Author</b>: Julia Child, Louisette Bertholle and Simone Beck<br>
            <b>Summary</b>: Mastering the Art of French Cooking is a two-volume French cookbook written by Simone Beck and Louisette 
            Bertholle, both of France, and Julia Child of the United States. The book was written for the American market and published by
            Knopf in 1961 and 1970.<br> 
            <b>Genre</b>: Cookbook<br>
            <b>Year</b>: 1961<br>
            <b>Language</b>: English <br>
            <b>Price</b>: 2696 INR (Amazon)<br>
            <b>Rating</b>: 9.5/10 <br>
            <b>Publisher</b>: Alfred A. Knopf<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book18">
            <h3>Middlemarch</h3>>
            <b>Author</b>: George Eliot<br>
            <b>Summary</b>:Middlemarch, A Study of Provincial Life is a novel by the English author Mary Anne Evans, who wrote as George 
            Eliot. It first appeared in eight instalments in 1871 and 1872. Set in Middlemarch, a fictional English Midland town in 1829 
            to 1832, it follows distinct, intersecting stories with many characters. <br>
            <b>Genre</b>:Novel, Historical Fiction, Social criticism<br>
            <b>Year</b>:1872<br>
            <b>Language</b>: English<br>
            <b>Price</b>:  148 INR - Flipkart<br>
            <b>Rating</b>: 9/10<br>
            <b>Publisher</b>: John Blackwood<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book19">
            <h3>Objective General English</h3>
            <b>Author</b>: S.P. Bakshi<br>
            <b>Summary</b>: The General English section is asked in almost every competitive examination like NDA, CDS, SSC (CGL, MTS, LDC),
            Bank (PO and Clerk), Hotel Management, MBA, MCA, UPSC, Bed Exams, etc. 
            <b>Genre</b>: English, Competetive exams<br>
            <b>Year</b>: 16 August 2002<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 200<br>
            <b>Rating</b>: 9.2/10<br>
            <b>Publication</b>: Arihant Publications<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book20">
            <h3>Ponniyin Selvan</h3>
            <b>Author</b>:Kalki Krishnamurthy<br>
            <b>Summary</b>: Ponniyin Selvan is a historical novel by Kalki Krishnamurthy, written in Tamil. The novel was first serialised
            in the weekly editions of Kalki during period from 29 October 1950 to 16 May 1954, and released in book form of five parts in 1955.<br>
            <b>Genre</b>:Historical,romance,thriller fiction<br>
            <b>Year</b>: 1955<br>
            <b>Language</b>: Tamil<br>
            <b>Price</b>: 1500 INR - Flipkart<br>
            <b>Rating</b>: 9.8/10<br>
            <b>Publisher</b>: Mangala Noolagam<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book21">
            <h3>Quantitative Aptitude for Competitive Examinations</h3>
            <b>Author</b>: ABHIJIT GUHA and R.S. Aggarwal<br>
            <b>Summary</b>: Ideal book for : Bank PO, SBI-PO, IBPS, RBI Exams -- MBA, MAT, CMAT, GMAT, CAT, IIFT, IGNOU -- SSC Combined 
            Preliminary Exams, Hotel Management -- Sub-Inspectors of police, CBI, COP Exams -- UPSC-CSAT, SCRA and other State Services 
            Exams -- Railway Recruitment Board Exams -- Campus Recruitment Tests.<br>
            <b>Genre</b>: Mathematics, Competitive exams<br>
            <b>Year</b>: 21 February 1996<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 465 INR<br>
            <b>Rating</b>: 9.5/10<br>
            <b>Publication</b>: S Chand Publishing<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book22">
            <h3>Silappatikaram</h3>
            <b>Author</b>: Ilango Adigal<br>
            <b>Summary</b>: Silappatikāram, also referred to as Silappathikaram or Silappatikaram, is the earliest Jain Tamil epic. It is 
            a poem of 5,730 lines in almost entirely akaval meter. The epic is a tragic love story of an ordinary couple, Kannaki and her 
            husband Kovalan.<br>
            <b>Genre</b>: Literature, Social divisions in ancient Tamil Nadu<br>
            <b>Year</b>: 2017<br>
            Originally written in Tamil Sangam Era<br>
            <b>Language</b>: Tamil<br>
            <b>Price</b>: 500 INR (Amazon)<br>
            <b>Rating</b>:9.2/10 (Amazon)<br>
            <b>Publisher</b>: Gowra Pathippagam<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book23">
            <h3>Sivagaamiyin Sapatham</h3>
            <b>Author</b>: kalki Krishnamurthy<br>
            <b>Summary</b>:Sivagamiyin Sabatham is a Tamil historical novel written by Kalki, first serialized in kalki during January 
            1944 – June 1946, and published as a book in 1948. Along with Ponniyin Selvan, this is widely regarded as one of the greatest 
            novels ever written in Tamil. <br>
            <b>Genre</b>:Novel, Historical Fiction, historical novel, Romance novel, Thriller, Spy fiction<br>
            <b>Year</b>: 1944<br>
            <b>Language</b>: Tamil<br>
            <b>Price</b>: 159 INR - Flipkart<br>
            <b>Rating</b>: 9/10<br>Limited<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book24">
            <b>Book name</b>: Southern Flavours<br>
            <b>Author</b>: Chandra Padmanabhan<br>
            <b>Summary</b>: Here, at last, is the answer to the pleas of popular cookbook writer Chandra Padmanabhan's myriad fans-a 
            collection of their favourite recipes from her previous three bestselling cookbooks, exploring the gamut of South Indian meals
            served in Andhra Pradesh, Kerala, Tamil Nadu and Karnatka.<br>
            <b>Genre</b>: Cookbook<br>
            <b>Year</b>: 2011<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 2500 INR (Amazon) <br>
            <b>Rating</b>: 9.5/10<br>
            <b>Publisher</b>: Westland Publishing<br><br>
            </a>
            </p>
       </li>
        <li>
            <p><a name="Book25">
            <h3>The Golden Bowl</h3>
            <b>Author</b>: Henry James<br>
            <b>Summary</b>:The Golden Bowl is a 1904 novel by Henry James. Set in England, this complex, intense study of marriage and 
            adultery completes what some critics have called the "major phase" of James's career. The Golden Bowl explores the tangle of 
            interrelationships between a father and daughter and their respective spouses.<br>
            <b>Genre</b>:Novel, Fiction<br>
            <b>Year</b>:1904<br>
            <b>Language</b>:English<br>
            <b>Price</b>: 400 INR-Flipkart<br>
            <b>Rating</b>:7.8/10<br>
            <b>Publisher</b>:Charles Scribner's Sons<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book26">
            <h3> The Model Bakery Cookbook: 75 Favorite Recipes from the Beloved Napa Valley Bakery</h3>
            <b>Author</b>: Karen Mitchell and Sarah Mitchell Hansen<br>
            <b>Summary</b>: This definitive baking guide is the much-anticipated cookbook from the Model Bakery, a mother-daughter–run 	
            baking destination with a huge local following that's been wowing the Wine Country for years. And this book of 	sensational 
            artisan baked goods makes clear why there are lines out the door! Featuring 75 recipes and 60 photos, it's as luscious to look
            at as their most-requested breads, classic desserts, and fresh pastries—all arrayed here—are 	to eat. Pain au Levain, Sticky Buns, 
            Peach Streusel Pie, Ginger Molasses Cookies, and many more glorious recipes make 	this a mouthwatering read and a reference gem for 
            lovers of bread and pastry, cakes and cookies, and, of course, the Model Bakery!<br>
            <b>Genre</b>: Cookbook<br>
            <b>Year</b>: 17 September 2013<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 1236 INR<br>
            <b>Rating</b>: 9.7/10<br>
            <b>Publisher</b>: Chronicle Books LLC<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book27">
            <h3>The Moonstone</h3>
            <b>Author</b>:Wilkie Collins<br>
            <b>Synopsis</b>:The Moonstone by Wilkie Collins is a 19th-century British epistolary novel. It is an early modern example of 
            the detective novel, and established many of the ground rules of the modern genre. The story was serialised in Charles 
            Dickens's magazine All the Year Round.<br>
            <b>Genre</b>:Novel, Mystery, Detective novel, Horror fiction, Epistolary novel, Crime Fiction<br>
            <b>Year</b>:1868<br>
            <b>Language</b>:English<br>
            <b>Price</b>: 204 INR ( Amonzon.in)<br>
            <b>Rating</b>:8.5/10<br>
            <b>Publisher</b>:Tinsley brothers<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book28">
            <h3>The Sign of the Four</h3>
            <b>Author</b>: Arthur Conon Doyle<br>
            <b>Sumary</b>:The Sign of the Four (1890), also called The Sign of Four, is the second novel featuring Sherlock Holmes written
            by Sir Arthur Conan Doyle. Doyle wrote four novels and 56 short stories featuring the fictional detective.<br>
            <b>Genre</b>:Novel, Fiction, Mystery, Graphic novel<br>
            <b>Year</b>: 1890<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 79 INR - Amazon<br>
            <b>Rating</b>:8.7/10<br>
            <b>Publisher</b>:Lippincott's Magazine<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book29">
            <h3>The Way We Live Now</h3>
            <b>Author</b>: Anthony Trollope<br>
            <b>Summary</b>:The Way We Live Now is a satirical novel by Anthony Trollope, published in London in 1875 after first appearing
            in serialised form. It is one of the last significant Victorian novels to have been published in monthly parts. The novel is 
            Trollope's longest, comprising 100 chapters, and is particularly rich in sub-plot.<br>
            <b>Genre</b>:Novel, Fiction, Satire, Serialised Work<br>
            <b>Year</b>: 1875<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 275 INR- Amazon<br>
            <b>Rating</b>: 7/10<br>
            <b>Publisher</b>: Champman and Hall<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book30">
            <h3>Vandhargal vendrargal</h3>
            <b>Author</b>: Madhan<br>
            <b>Summary</b>:This book is a brief history of the Mughal Period in India. The Vandhargal Vendrargal book also describes how 
            the Persian and Afghan invaders etched away the wealth of our nation. <br>
            <b>Genre</b>: Historical novel<br>
            <b>Year</b>:1994<br>
            <b>Language</b>:Tamil<br>
            <b>Price</b>: 232 INR-Flipkart<br>
            <b>Rating</b>:9.5/10<br>
            <b>Publisher</b>:Vikatan.com Private Limited<br><br>
            </p>
        </li>
        <li>
            <p><a name="Book31">
            <h3>Wings of fire : An Autobiography of Abdul Kalam</h3>
            <b>Author</b>: Dr. Abdul Kalam and Arun Tiwari<br>
            <b>Summary</b>: Wings of Fire is an autography of APJ Abdul Kalam covering his early life and his work in Indian space research 
            <b>and missile programs. It is the story of a boy from a humble background who went on to become a key player in Indian space 
            <b>research/Indian missile programs and later became the president of India.<br>
            <b>Genre</b>: Autobiography<br>
            <b>Year</b>: 1999<br>
            <b>Rating</b>: 9.2/10<br>
            <b>Language</b>:English and has been translated in thirteen languages<br>
            <b>Price</b>: 325 INR (Amazon)<br>
            Available in audio for 400 INR (Amazon Audible)<br>
            <b>Publisher</b>:University Press<br><br>
            </a>
            </p>
        </li>
        </ol>
        </div>  
    </body>
</html>
