<!Doctype html>
<html>
    <head>
        <title>Bookie Mate: Biographies and Autobiographies</title>
    </head>
    <body>
        <h1><center>BIOGRAPHIES AND AUTOBIOGRAPHIES</center></h1>
        <ol>
        <li>
            <p>
            <h2>Wings of fire : An Autobiography of Abdul Kalam</h2>
            <b>Author</b>: Dr. Abdul Kalam and Arun Tiwari<br>
            <b>Summary</b>: Wings of Fire is an autography of APJ Abdul Kalam covering his early life and his work in Indian space research 
            <b>and missile programs. It is the story of a boy from a humble background who went on to become a key player in Indian space 
            <b>research/Indian missile programs and later became the president of India.<br>
            <b>Genre</b>: Autobiography<br>
            <b>Year</b>: 1999<br>
            <b>Rating</b>: 9.2/10<br>
            <b>Language</b>:English and has been translated in thirteen languages<br>
            <b>Price</b>: 325 INR (Amazon)<br>
            Available in audio for 400 INR (Amazon Audible)<br>
            <b>Publisher</b>:University Press<br><br>
            </p>
        </li>
    </ol>
    </body>
</html>