<!Doctype html>
<html>
    <head>
        <title>Bookie Mate-Competetive exams</title>
    </head>    
    <body>
        <h1><center>COMPETETIVE EXAMS</center></h1>
        <ol>
            <li>
            <p>
            <h2>How to Crack Test Of Reasoning- REVISED EDITION</h2>
            <b>Author</b>: Jaikishan and Premkishan<br>
            <b>Summary</b>: Reasoning enhances the logical thinking skills. It determines one's aptitude which is why many competitive 
            examinations ask questions from it. Be it, banking, SSC, railway, IAS/PCS, or any other government recruitment exams, 
            candidates have to score better in Reasoning Test which is a hard nut to crack for many. How to Crack Test of Reasoning is a 
            perfect study resource to learn the problem solving skills of reasoning to make a proper preparation for the competitive 
            examinations. It has been revised carefully according to the latest examination pattern and is divided into key chapters of 
            Verbal Reasoning, Analytical Reasoning, and Non-Verbal Reasoning. <br>
            <b>Genre</b>: Competetive exams, Aptitude<br>
            <b>Year</b>: 1 January 2018<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 160 INR (Amazon)<br>
            <b>Rating</b>: 9.3/10<br>
            <b>Publication</b>: Arihant Publications<br>
            </p>
        </li>
        <li>
            <p>
            <h2>Indian Art and Culture for Civil Services and other Competitive Examinations </h2>
            <b>Author</b>: Nitin Singhania <br>
            <b>Summary</b>: McGraw-Hill is proud to present third edition of their bestseller "Indian art and Culture" by Nitin Singhania, 
            third edition. This book offers comprehensive and latest information covering the broad field of knowledge on Indian art, 
            paintings, music and architecture for the aspirants of Civil Services Preliminary and Main Examinations.<br>
            <b>Genre</b>: Competetive exams<br>
            <b>Year</b>: 1 August 2019<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 535 INR (Amazon)<br>
            <b>Rating</b>: 9.6/10<br>
            <b>Publication</b>: McGraw-Hill<br>
            </p>
        </li>
        <li>
            <p>
            <h2>Jharkhand General Knowledge</h2>
            <b>Author</b>: Dr. C. L. Khanna<br>
            <b>Summary</b>: Jharkhand is known for its rich mineral Resources, mining industries and large forest areas. The book 
            'Jharkhand General Knowledge' has been developed to provide the complete knowledge about Jharkhand covering the topics related 
            to history of Jharkhand, culture and religions, geographical status, economic status, rivers, dams, mineral Resources, 
            occupations and industries, Agriculture, forests and different tribal groups. These topics are provided in 	the form of short 
            questions and answers. In this way the book will prove to be a boon for various competitive exams of Jharkhand state.<br>
            <b>Genre</b>: Competitive exams, General Knowledge<br>
            <b>Year</b>: 1 January 2010<br>
            <b>Language</b>: English <br>
            <b>Price</b>: 80 INR (Amazon) <br>
            <b>Rating</b>: 9/10<br>
            <b>Publication</b>: Upkar Prakashan Publication<br>
            </p>
        </li>
        <li>
            <p>
            <h2>Objective General English</h2>
            <b>Author</b>: S.P. Bakshi<br>
            <b>Summary</b>: The General English section is asked in almost every competitive examination like NDA, CDS, SSC (CGL, MTS, LDC),
            Bank (PO and Clerk), Hotel Management, MBA, MCA, UPSC, Bed Exams, etc. 
            <b>Genre</b>: English, Competetive exams<br>
            <b>Year</b>: 16 August 2002<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 200<br>
            <b>Rating</b>: 9.2/10<br>
            <b>Publication</b>: Arihant Publications<br>
            </p>
        </li>
        <li>
            <p>
            <h2>Quantitative Aptitude for Competitive Examinations</h2>
            <b>Author</b>: ABHIJIT GUHA and R.S. Aggarwal<br>
            <b>Summary</b>: Ideal book for : Bank PO, SBI-PO, IBPS, RBI Exams -- MBA, MAT, CMAT, GMAT, CAT, IIFT, IGNOU -- SSC Combined 
            Preliminary Exams, Hotel Management -- Sub-Inspectors of police, CBI, COP Exams -- UPSC-CSAT, SCRA and other State Services 
            Exams -- Railway Recruitment Board Exams -- Campus Recruitment Tests.<br>
            <b>Genre</b>: Mathematics, Competitive exams<br>
            <b>Year</b>: 21 February 1996<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 465 INR<br>
            <b>Rating</b>: 9.5/10<br>
            <b>Publication</b>: S Chand Publishing<br>
            </p>
        </li>
        </ol>
    </body>
</html>