<!Doctype html>
<html>
    <head>
        <title>Bookie Mate: Economics</title>
        
    </head>
    <body>
        <h1><center>ECONOMICS BOOKS</center></h1>
        <ol>
        <li>
            <p>
            <h2>Arthashastra</h2>
            <b>Author</b>: Chanakya<br>
            <b>Summary</b>: The Arthaśāstra is an ancient Indian Sanskrit treatise on statecraft, economic policy and military strategy. 
            Kautilya, also identified as Vishnugupta and Chanakya, is traditionally credited as the author of the text. The latter was a 
            scholar at Takshashila, the teacher and guardian of Emperor Chandragupta Maurya. <br>
            <b>Genre</b>: Statecraft,Treatise, History, Economic policy and Military strategy<br>
            <b>Year</b>: 3rd century BCE<br>
            <b>Language</b>: English<br>
            Originally written in Sanskrit<br>
            <b>Price</b>: 455 INR (Amazon)<br>
            <b>Rating</b>: 9.8/10<br>
            <b>Publisher</b>: Penguin India<br>
            </p>
        </li>
        <li>
            <p>
            <h2>Capital in the Twenty-First Century</h2>
            <b>Author</b>: Thomas Piketty<br>
            <b>Summary</b>: The book's central thesis is that when the rate of return on capital is greater than the rate of economic 
            growth over the long term, the result is concentration of wealth, and this unequal distribution of wealth causes social and 
            economic instability. Piketty proposes a global system of progressive wealth taxes to help reduce inequality and avoid the 
            vast majority of wealth coming under the control of a tiny minority.<br>
            <b>Genre</b>: Economics<br>
            <b>Year</b>: 30 August 2013<br>
            <b>Language</b>: English<br>
            Also available in French<br>
            <b>Price</b>: 1056 INR (Amazon)<br>
            <b>Rating</b>: 9/10<br>
            <b>Publisher</b>: Harvard Univeersity Press<br><br>
            </p>
        </li>
        <li>
            <p>
            <h2>Chanakya Neethi</h2>
            <b>Author</b>: Vishnugupta<br>
            <b>Summary</b>:Chanakya Neeti is a book based on Chanakya, an Indian theorist, teacher, philosopher, economist and a noble 
            mentor to the Mauryan emperors between 350 -275 BC.  In this book, the author tells about Arthashastra, the ancient thesis 
            about Indian Polity.<br>
            <b>Genre</b>: Treatise, Economics, Self-help book<br>
            <b>Year</b>:2014<br>
            <b>Language</b>: Tamil<br>
            <b>Price</b>:125 INR- Flipkart<br>
            <b>Rating</b>: 9/10<br>
            <b>Publisher</b>: Diamond books<br><br>
            </p>
        </li>       
        </ol>
    </body>
</html>