<!Doctype html>
<html>
    <head>
        <title>Bookie Mate: Study Guide</title>
        
    </head>
    <body>
        <h1><center>STUDY GUIDE</center></h1>
        <ol>
            <li><a href="#Book1">Arthashastra</a></li>
            <li><a href="#Book2">Capital in the Twenty-First Century</a></li>
            <li><a href="#Book3">Chanakya Neethi</a></li>
            <li><a href="#Book4">Data Science for Business: What You Need to Know about Data Mining and Data-Analytic Thinking</a></li>
            <li><a href="#Book5">How to Crack Test Of Reasoning- REVISED EDITION</a></li>
            <li><a href="#Book6">Indian Art and Culture for Civil Services and other Competitive Examinations</a></li>
            <li><a href="#Book7">Introduction to Machine Learning with Python: A Guide for Data Scientists</a></li>
            <li><a href="#Book8">Jharkhand General Knowledge</a></li>
            <li><a href="#Book9">Learning Japanese Kanji Practice Book Volume 1: The Quick and Easy Way to Learn the Basic Japanese Kanji</a></li>
            <li><a href="#Book10">Objective General English</a></li>
            <li><a href="#Book11">Quantitative Aptitude for Competitive Examinations</a></li>
        </ol>
        <ol>
            <li>
            <p><a name="Book1">
            <h2>Arthashastra</h2>
            <b>Author</b>: Chanakya<br>
            <b>Summary</b>: The Arthaśāstra is an ancient Indian Sanskrit treatise on statecraft, economic policy and military strategy. 
            Kautilya, also identified as Vishnugupta and Chanakya, is traditionally credited as the author of the text. The latter was a 
            scholar at Takshashila, the teacher and guardian of Emperor Chandragupta Maurya. <br>
            <b>Genre</b>: Statecraft,Treatise, History, Economic policy and Military strategy<br>
            <b>Year</b>: 3rd century BCE<br>
            <b>Language</b>: English<br>
            Originally written in Sanskrit<br>
            <b>Price</b>: 455 INR (Amazon)<br>
            <b>Rating</b>: 9.8/10<br>
            <b>Publisher</b>: Penguin India<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book2">
            <h2>Capital in the Twenty-First Century</h2>
            <b>Author</b>: Thomas Piketty<br>
            <b>Summary</b>: The book's central thesis is that when the rate of return on capital is greater than the rate of economic 
            growth over the long term, the result is concentration of wealth, and this unequal distribution of wealth causes social and 
            economic instability. Piketty proposes a global system of progressive wealth taxes to help reduce inequality and avoid the 
            vast majority of wealth coming under the control of a tiny minority.<br>
            <b>Genre</b>: Economics<br>
            <b>Year</b>: 30 August 2013<br>
            <b>Language</b>: English<br>
            Also available in French<br>
            <b>Price</b>: 1056 INR (Amazon)<br>
            <b>Rating</b>: 9/10<br>
            <b>Publisher</b>: Harvard Univeersity Press<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book3">
            <h2>Chanakya Neethi</h2>
            <b>Author</b>: Vishnugupta<br>
            <b>Summary</b>:Chanakya Neeti is a book based on Chanakya, an Indian theorist, teacher, philosopher, economist and a noble 
            mentor to the Mauryan emperors between 350 -275 BC.  In this book, the author tells about Arthashastra, the ancient thesis 
            about Indian Polity.<br>
            <b>Genre</b>: Treatise, Economics, Self-help book<br>
            <b>Year</b>:2014<br>
            <b>Language</b>: Tamil<br>
            <b>Price</b>:125 INR- Flipkart<br>
            <b>Rating</b>: 9/10<br>
            <b>Publisher</b>: Diamond books<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book4">
            <h2>Data Science for Business: What You Need to Know about Data Mining and Data-Analytic Thinking</h2>
            <b>Author</b>: Tom Fawcett<br>
            <b>Summary</b>: Written by renowned data science experts Foster Provost and Tom Fawcett, Data Science for Business introduces 
            the fundamental principles of data science, and walks you through the "data-analytic thinking" necessary for extracting useful
            knowledge and business value from the data you collect. This guide also helps you understand the many data-mining techniques in
            use today.<br>
            <b>Genre</b>: Computers, Data Science, Education<br>
            <b>Year</b>: 27 July 2013<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 1224.99 INR (Amazon)<br>
            Audio Book is also available<br>
            <b>Rating</b>: 9.3/10<br>
            <b>Publisher</b>: O'Reilly Media<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book5">
            <h2>How to Crack Test Of Reasoning- REVISED EDITION</h2>
            <b>Author</b>: Jaikishan and Premkishan<br>
            <b>Summary</b>: Reasoning enhances the logical thinking skills. It determines one's aptitude which is why many competitive 
            examinations ask questions from it. Be it, banking, SSC, railway, IAS/PCS, or any other government recruitment exams, 
            candidates have to score better in Reasoning Test which is a hard nut to crack for many. How to Crack Test of Reasoning is a 
            perfect study resource to learn the problem solving skills of reasoning to make a proper preparation for the competitive 
            examinations. It has been revised carefully according to the latest examination pattern and is divided into key chapters of 
            Verbal Reasoning, Analytical Reasoning, and Non-Verbal Reasoning. <br>
            <b>Genre</b>: Competetive exams, Aptitude<br>
            <b>Year</b>: 1 January 2018<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 160 INR (Amazon)<br>
            <b>Rating</b>: 9.3/10<br>
            <b>Publication</b>: Arihant Publications<br><br>
            </p>
        </li>
        <li>
            <p><a name="Book6">
            <h2>Indian Art and Culture for Civil Services and other Competitive Examinations </h2>
            <b>Author</b>: Nitin Singhania <br>
            <b>Summary</b>: McGraw-Hill is proud to present third edition of their bestseller "Indian art and Culture" by Nitin Singhania, 
            third edition. This book offers comprehensive and latest information covering the broad field of knowledge on Indian art, 
            paintings, music and architecture for the aspirants of Civil Services Preliminary and Main Examinations.<br>
            <b>Genre</b>: Competetive exams<br>
            <b>Year</b>: 1 August 2019<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 535 INR (Amazon)<br>
            <b>Rating</b>: 9.6/10<br>
            <b>Publication</b>: McGraw-Hill<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book7">
            <h2>Introduction to Machine Learning with Python: A Guide for Data Scientists</h2>
            <b>Author</b>: Andreas C. Müller and Sarah Guido<br>
            <b>Summary</b>: Machine learning has become an integral part of many commercial applications and research projects, but this
             field is not exclusive to large companies with extensive research teams. If you use Python, even as a beginner, this book will
             teach you practical ways to build your own machine learning solutions. With all the data available today, machine learning 
             applications are limited only by your imagination. You'll learn the steps necessary to create a successful machine-learning 
             applications.<br>
            <b>Genre</b>: Computers, Machine Learning, Education<br>
            <b>Year</b>: 26 September 2016<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 1750 INR (Amazon) <br>
            <b>Rating</b>: 9.5/10</br>
            <b>Publisher</b>: O'Reilly Media<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book8">
            <h2>Jharkhand General Knowledge</h2>
            <b>Author</b>: Dr. C. L. Khanna<br>
            <b>Summary</b>: Jharkhand is known for its rich mineral Resources, mining industries and large forest areas. The book 
            'Jharkhand General Knowledge' has been developed to provide the complete knowledge about Jharkhand covering the topics related 
            to history of Jharkhand, culture and religions, geographical status, economic status, rivers, dams, mineral Resources, 
            occupations and industries, Agriculture, forests and different tribal groups. These topics are provided in 	the form of short 
            questions and answers. In this way the book will prove to be a boon for various competitive exams of Jharkhand state.<br>
            <b>Genre</b>: Competitive exams, General Knowledge<br>
            <b>Year</b>: 1 January 2010<br>
            <b>Language</b>: English <br>
            <b>Price</b>: 80 INR (Amazon) <br>
            <b>Rating</b>: 9/10<br>
            <b>Publication</b>: Upkar Prakashan Publication<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book9">
            <h2>Learning Japanese Kanji Practice Book Volume 1: The Quick and Easy Way to Learn the Basic Japanese Kanji</h2>
            <b>Author</b>: Eriko Sato<br>
            <b>Summary</b>: Learning Japanese Kanji Practice Book is intended for beginning students or experienced speakers who need to 
            practice their written Japanese. Kanji are an essential part of the Japanese language and together with kana (hiragana and 
            katakana) comprise written Japanese.<br>
            <b>Genre</b>: Education, Study guide<br>
            <b>Year</b>: 27 October 2015<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 904 INR (Amazon)<br>
            <b>Rating</b>: 8.7/10<br>
            <b>Publisher</b>: Tuttle Publishing<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book10">
            <h2>Objective General English</h2>
            <b>Author</b>: S.P. Bakshi<br>
            <b>Summary</b>: The General English section is asked in almost every competitive examination like NDA, CDS, SSC (CGL, MTS, LDC),
            Bank (PO and Clerk), Hotel Management, MBA, MCA, UPSC, Bed Exams, etc. 
            <b>Genre</b>: English, Competetive exams<br>
            <b>Year</b>: 16 August 2002<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 200<br>
            <b>Rating</b>: 9.2/10<br>
            <b>Publication</b>: Arihant Publications<br><br>
            </a>
            </p>
        </li>
        <li>
            <p><a name="Book11">
            <h2>Quantitative Aptitude for Competitive Examinations</h2>
            <b>Author</b>: ABHIJIT GUHA and R.S. Aggarwal<br>
            <b>Summary</b>: Ideal book for : Bank PO, SBI-PO, IBPS, RBI Exams -- MBA, MAT, CMAT, GMAT, CAT, IIFT, IGNOU -- SSC Combined 
            Preliminary Exams, Hotel Management -- Sub-Inspectors of police, CBI, COP Exams -- UPSC-CSAT, SCRA and other State Services 
            Exams -- Railway Recruitment Board Exams -- Campus Recruitment Tests.<br>
            <b>Genre</b>: Mathematics, Competitive exams<br>
            <b>Year</b>: 21 February 1996<br>
            <b>Language</b>: English<br>
            <b>Price</b>: 465 INR<br>
            <b>Rating</b>: 9.5/10<br>
            <b>Publication</b>: S Chand Publishing<br><br>
            </a>
            </p>
        </li>
        </ol>
    </body>
</html>